{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div>
        <img src="/media/{{ current_player.profilePic }}" alt="{{ user }}'s profile picture">
        <p>{{ user }}</p>
    </div>
    <ul>
        {% for game in current_games %}
        <li>
            <a href="/game/{{ game.id }}">Currently playing game with
                {% if current_player == request.user %}
                    {{ game.player_2 }}
                {% else %}
                    {{ game.player_1 }}
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}

