/*OVER ALL STYLE*/
body {
    font-family: 'Istok Web', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #D0D8D0;
}

li {
    display: table-cell;
}



 /* BASE STYLE */
 .nav > a {
    color: #ffffff;
     margin: 3px;
}

.nav {
    font-size: 16px;
    position: relative;
    left: 0;
    margin: 8px 10px 0 0;
    display: block;
}

nav {
    min-height: 40px;
    background-color: #2660A4;
    box-shadow: #000 0 0 20px;
    border-bottom: #F19953 solid 4px;
}

.firsthalf {
    float: left;
    padding-left: 20px;
}

.secondhalf {
    margin-left: 10px;
    margin-right: 15px;
    float: right;
}

.logo {
    width: 25px;
    height: 25px;
}

footer {
    text-align: center;
    color: #5B5858;
    font-size: 10px;
}

/* HOME STYLE */

.home {
    text-align: center;
}

a {
    color: #F19953;
}

main > h1 {
    margin-top: 200px;
}

/* LOGIN STYLE */
.links {
    margin-bottom: 320px;
}

.signupnow {
    color: rgba(224,224,224,0.6);
    text-align: right;
    display: block;
    margin-right: 4px;
    margin-top: 2px;
}

.link:hover {
    color: #fff;
}

.signup {
    background-image: url("http://www.hdwallpaperscool.com/wp-content/uploads/2014/06/white-mushrooms-lovely-wallpaper.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    background-attachment: fixed;
    background-position: bottom;
}

.form {
    background-color: rgba(224,224,224,0.6);
    min-width: 50px;
    text-align: center;
    padding: 100px 100px;
    width: 126px;
    margin: 200px auto 0;
}


input {
    box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1);
    margin: 0 auto;
    padding: 4px;
    border: transparent;
}

.button {
    background-color: #fff;
    border: transparent;
    margin-top: 12px;
}

/* INVITE STYLE*/

.invite {
    margin: 300px 0 300px 0;
    text-align: center;
}

.pick {
    padding: 2px;
    border: solid #EEE;
    height: 37px;
    width: 250px;
}

/* SIGNUP STYLE */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ddd inset;
    -webkit-text-fill-color: #2B2B2B !important;
}

.helptext {
    display: none;
}

#id_profilePic {
    margin: -40px;
}

.test {
    margin: 0 auto;
}

.errorlist {
    font-size: 15px;
    padding: 0;
}
/* GAME STYLE */

/*.card{*/
    /*width: 107px;*/
    /*height: 145px;*/

/*}*/

.putDown{
    height: 150px;
}

.placehoder{
    background-color: #999;
}

/*li.selected { outline: 1px solid red; }*/

ul > li > img, .placehoder{
        width: 107px;
        height: 145px;
}
/* LEADERBOARD STYLE */

.leaderboard {
    text-align: center;
    min-width: 50px;
    padding: 75px 0 10px;
    max-height: 560px;
    margin: 0 auto 0;
    overflow: scroll;
    /*height: 560px;*/
}

.leaderboard::-webkit-scrollbar {
    display: none;
}

/* PROFILE PICTURE */

.profileimg {
    /*margin-top: 20px;*/
    margin: 20px 0 0 16px;
}