<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
    {%load staticfiles%}
<!--</head>-->
<!--<body>-->
    <p>NIGHT DECK</p>
    <ul>
        {% for cards in night %}
        <!--<p>{{ cards.picture }}</p>-->
        <li>
            <img src="/{{ cards.picture }}">
        </li>
        {%endfor%}
    </ul>
    <p>NEXT DECK(newdeck as in eight of a shuffled deck)</p>
    <ul>
        {% for i in newdeck %}
        <li>
            <img src="/{{ i.picture }}">
        </li>
        {%endfor%}
    </ul>
<!--</body>-->
<!--</html>-->