<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morels</title>
</head>

<body>
	{{ state }}
	<form action="/login/" method="post">
        {% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		<input type="text" name="username" value="{{ username}}" placeholder="Username"/>

        <input type="email" name="email" value="" placeholder="email"/>

		<input type="password" name="password" value="" placeholder="password"/>

		<input type="submit" value="Log In" />
	</form>
</body>
</html>