<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morels</title>
</head>

<body>
	{{ state }}
	<form action="/login/" method="post">
        {% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		<p>username:</p>
		<input type="text" name="username" value="{{ username}}" />
        <p>email:<p/>
        <input type="email" name="email" value=""/>
		<p>password:<p/>
		<input type="password" name="password" value="" />

		<input type="submit" value="Log In" />
	</form>
</body>
<!--<body>-->
    <!--<form method="post">-->
        <!--<label for="Username"></label>-->
        <!--<input class="" type="text" name="signup" placeholder="Username" required/>-->

        <!--<label for="Password"></label>-->
        <!--<input class="" type="password" name="signup" placeholder="Password" required/>-->

        <!--<label for="Email"></label>-->
        <!--<input class="" type="text" name="signup" placeholder="Email" required/>-->

        <!--<input type="submit" name="submit" id="submit" value="Log in">-->
    <!--</form>-->
<!--</body>-->
</html>