<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morels</title>
</head>
<body>
    <form method="post">
        <label for="Username"></label>
        <input class="" type="text" name="signup" placeholder="Username" required/>

        <label for="Password"></label>
        <input class="" type="password" name="signup" placeholder="Password" required/>

        <label for="Email"></label>
        <input class="" type="text" name="signup" placeholder="Email" required/>

        <input type="submit" name="submit" id="submit" value="Log in">
    </form>
</body>
</html>